<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
  </head>

  <link rel="stylesheet" type="text/css" href="/css/nav.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/problems.css">

  <body>
    <div class="container">

      <div class="card" id="header">
        <div id="banner">
          <img src="/assets/banner.png" alt="hey">
        </div>
        <div id="nav">
          <ul>
            <li><a href="/">Home</a>
            <li><a href="/problems">Problems</a>
              {% if logged_in or admin == 1 %}
              {% if admin == 1 %}
            <li><a href="/addq">Add Question</a>
              {% else %}
            <li><a href="/profile">Profile</a>
              {% endif %}
              {% endif %}
            <li><a href="/leaderboard">Leaderboard</a>
              {% if logged_in == true %}
            <li><a href="/logout">Log out</a>
              {% else %}
            <li><a href="/login">Log in</a>
              {% endif %}
        </div>
      </div>

      <div class = "card" id= "problems">
        <div class="problems_header"> &nbsp <h3> All Problems </h3> </div>
          <table>
            {% for ques in problems %}
              <tr>
                <td> #{{ ques.number }} </td>
                <td> <a href="problem/{{ ques.number }}"> {{ ques.title }}  </a> </td>
                <td style="font-size:15px; color:grey">
                  {% if ques.no_of_users > 1%}
                    Solved by {{ ques.no_of_users }} users
                  {% else %}
                    Solved by {{ ques.no_of_users }} user
                  {% endif%}
                </td>
              </tr>
            {% endfor %}
          </table>
      </div>
    </div>

    <center class="trademark">phantom_webacker&trade;</center>
  </body>
</html>
